body ,html {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}


body {
	font: 22px Roboto;
	color: #2d3c49;
}


header{
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	max-width: 100%;
	width: 900px;
	/* height: 150px; */
	background-color: #fff;
	/* border-bottom: 5px solid #7d97ad; */
	clear: both;
}


#udacity img {
	margin: 25px 10px;
	border-radius: 25% 10%;;
	height: auto;
	width: 100px;
	box-shadow: 5px 5px 10px #aaa;
	transition: background-color .5s;
}


#udacity img:hover {
	box-shadow: 5px 5px 22px #9aa;
	background-color: #ff0;
}


#header-title {
	margin-left: auto;
	text-align: right;
	padding: 0 20px;
	/* margin: -10px; */
	color: #09f;
}

hr {
    height: 1px;
    border-color: #7d97ad;
    background-color: #7d97ad;
    width: 80%;
    margin-top: -10px;
}

#udacity-view {
	background: no-repeat center/cover url("../image/center.png");
	width: 60%;
	min-height: 320px;
	margin-top: 10px;
	max-width: 100%;
	text-align: center;	
	line-height: 120px;
	font-size: 2em;
	color: #fff;
	text-shadow: 4px 4px 2px #000;
	vertical-align: middle;
	box-shadow: 4px 4px 4px 0 #888;
}


#udacity-view p {
	opacity: 0.5;
}


.font-ma {
	font-family: "Julius Sans One", sans-serif;
}

#content {
	display: flex;
	width: 900px;
	max-width: 100%;
}

.center {
	margin-left: auto;
	margin-right: auto;
}

.feature-work {
	width: 900px;
	max-width: 100%;
	font-size: 1em;
}

.style-card {
	box-shadow: 2px 2px 4px 0 #02b3e4;
	width: 29%;
	text-align: center;
	margin: 10px;
	padding: 5px;
	display: inline-flex;
	flex-wrap: wrap;
	flex: 1;
}

.style-card:hover {
	background-color: #eee;
}

.chunk img {
	overflow: visible;
	height:210px;
	width: 100%;
}

.chunk p {
	font-style: italic;
	font-size: 14px;
	width: 100%;
}

.my-link {
	font-size: 1em;
	font-weight: bold;
	text-decoration: none;
	color: #953;
}

.my-link:hover {
	color: #832;
}

a {
	color: #864;
	text-decoration: none;
	border-radius: 50%;
}

a:hover {
	color: #852;
	text-decoration: underline;
	box-shadow: 5px 5px 22px #9aa;
}

footer {
	width: 900px;
	max-width: 100%;
	margin-top: 20px;
	text-align: center;
	font-size: 23px;
}

footer img {
	width: 30px;
	height: 30px;
}

/* breakpoints */
@media screen and (max-width: 768px) {
	#content {
		flex-wrap: wrap;
		text-align: center;
	}

	#header-title {
		margin: -35px 5px;
	}

	#udacity-view {
		height: 150px;
		width: 80%;
		font-size: 1em;
		line-height: 150px;
	}

	.style-card {
		min-width: 40%;
		max-width: 50%;
		padding: 5px;
		margin-left: auto;
		margin-right: auto;
	}

	.chunk p {
		font-size: 1em;
	}

	.feature-work {
		font-size: 1em;
	}

}

@media screen and (max-width: 525px) {

	#udacity-view {
		height: 150px;
		width: 80%;
		font-size: 1em;
		line-height: 150px;
	}

	#udacity img {
		height: 50px;
		width: 50px;
		box-shadow: 2px 2px 15px #aab;
	}

	header {
		height: 100px;
		background-color: #fff;
		/* border-bottom: 5px solid #cca; */
	}

	#header-title {
		padding: 0 50px;
		margin: -35px 1px;

	}

	.style-card {
		min-width:90%;
	}
	
	.chunk {
		width:100%;
	}

	.chunk p {
		font-size: 1em;
	}

	.feature-work {
		font-size: 1em;
		text-align: center;
	}

}
